@import url('https://fonts.googleapis.com/css?family=Barlow|Fredoka+One');
header {
    margin-bottom: 2rem;
}
h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 3.2em;
}
p {
    font-family: 'Barlow', sans-serif;
}