@import url('https://fonts.googleapis.com/css?family=Ultra');

h1 {
    font-family: 'Ultra', serif;
    color: #1CB0BC !important;
}
.nav-item {
    transition: 0.2s ease-in-out;
}
.nav-item:hover {
    background: linear-gradient(to right, #000428, #50CBCB);
    cursor: pointer;
    color: white !important;
    border-left: 10px solid white;
    font-weight: 700;
    
}
