@import url('https://fonts.googleapis.com/css?family=Barlow|Concert+One');
img {
    max-width: 100%;
}
h4 {
    font-family: 'Concert One', cursive;
    font-size: 2em;
}
.author {
color: #A0A6A3;
    font-size: 0.8rem;
}
p {
    font-family: 'Barlow', sans-serif;
    color: #8A8887;
   
}
