@import url('https://fonts.googleapis.com/css?family=Ultra');
nav {
    background: white;
}
nav h1 {
    font-family: 'Ultra', serif;
    font-size:2.2em !important;
    color: rgb(6, 85, 158) !important;
    margin: 0;
}
nav li.nav-item  {
    transition: 0.2s ease-in-out;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.2em;
    color: rgb(6, 85, 158) !important;
}

nav li.nav-item:hover {
    cursor: pointer;
    color: orange !important;
}
nav button:last-child {
    background-color: rgb(6, 85, 158);

}
@media (max-width: 767px){
    navli.nav-item {
        padding: 0.5em;
    }
    nav li.nav-item:hover {
        background: #50CBCB;
        cursor: pointer;
        color: white !important;
        border-left: 10px solid white;
        font-weight: 700;
    }
    nav button:last-child {
        width: 100%;
        display: inline-block;
    
    }
}
