@import url('https://fonts.googleapis.com/css?family=Barlow|News+Cycle');
.post {
    max-width: 500px;
}
.post img {
    max-width: 100%;
    transition: 0.2s ease-in-out;
}
.post img:hover {
    cursor: pointer;
    transform: scale(1.07);
}
.post h4 {
    font-family: 'News Cycle', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.post .wrapImg {
    max-height: 200px;
    overflow: hidden !important;
}
.post .author {
color: #A0A6A3;
    font-size: 0.8rem;
}
.post p {
    font-family: 'Barlow', sans-serif;
    color: #8A8887;
    font-size: 0.8rem;
     
}

@media(min-width: 844px){
.post {
    flex: 40%;
}
.post:first-child {
        max-width: 100%;
        flex: 100% 1;
    }
.post:first-child .wrapImg {
        max-height: 500px;
    }
}

@media (min-width: 992px){
.post {
        flex: 40% 1;
        max-width: 600px;
    }
.post h4 {
        font-size: 1.5em;
    }
.post .wrapImg {
        height: 180px;
    }
.post:first-child {
        max-width: 100%;
        flex: 100% 1;
    }
.post:first-child .wrapImg {
        height: 420px;
    }
.post:first-child h4 {
        max-width: 500px;
        font-size: 2em;
    }
.post:last-child {
        align-self: flex-start
    }
}
@media(min-width: 1500px){
.post {
        flex: 30% 1;
        max-width: 500px;
    }
.post .wrapImg {
        height: 210px;
    }
.post:first-child .wrapImg {
        height: 610px;
    }
.post:last-child {
        flex: 100% 1;
        max-width: 420px;
    }
}