footer ul {
    padding-left: 0;
    list-style: none;
}
footer li {
    padding: 0.2em;
    border-bottom: 0.1px solid #04447f;
    font-weight: 100;
}
footer li:last-child {
    border-bottom: none;
}
footer li:hover {
    cursor: pointer;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer .social {
    color: #06559e;
    background: white;
    display: inline-block;
    font-size: 1.2em;
    width: 32px;
    text-align: center;
    margin: 0.1em;
    border-radius: 4px;
}
footer h5 {
    font-family: 'Economica', sans-serif;
}
@media(min-width: 1500px){
    footer ul {
    padding-left: 0;
}
}