@import url('https://fonts.googleapis.com/css?family=Economica');

h5 {
    font-family: 'Economica', sans-serif;
    color: #235180;
}
@media(min-width: 1500px){
    h5 {
        font-size: 2em;
    }  
}
section article {
    padding-left: 3em;
}